:root{
    --b20: rgba(0,0,0,0.2);
    --w0: rgba(0,0,0,0.0);
    --b05: rgba(0,0,0,0.05);
    --card-width: 160px;
    --card-height: 240px;
    --bg: rgb(133, 141, 155);
    --card-bg: white;
}

*{
    padding: 0;
    margin: 0;

    font-size: 16px;

    scroll-behavior: smooth;

    /* Prevents flexbox resizing */
    /* align-self: start;  */
    flex-grow: 0;
    flex-shrink: 0; 
}
body{
    height: 100vh;
    background-color: var(--bg);
    font-family: sans-serif;
    line-height: 150%;
}

h1{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Grenze', sans-serif;
}
h2{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Grenze', sans-serif;
}

.hide {
    display: none !important;
}


button{
    padding: 16px 16px;
    border: 2px solid var(--b20);
    cursor: pointer;
    border-radius: 12px;
    background-color: var(--w0);
}
button:hover{
    background-color: var(--b05);
}

/* NAVIGATION */
#nav {
    position: fixed;
    bottom: 12px;
    left: 12px;

    width: calc(100% - 24px);

    display: flex;
    /* flex-direction: column; */
    gap: 4px;
    padding: 4px;
    justify-content: center;

    background-color: rgb(176, 176, 176);
    border-radius: 11px;
    border: 2px solid black;

    z-index: 5;
}
.stat {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 18px 12px 12px;
}
#hand {
    position: fixed;
    bottom: 0px;
    height: 112px;
    /* height: calc(var(--card-height) + 8px - 100px); */
    width: calc(100% - 24px);

    border-radius: 6px 6px 12px 12px;

    display: flex;
    /* justify-content: center; */
    gap: 4px;

    padding: 4px;
    margin: 12px;

    background-color: black;
    /* backdrop-filter: blur(2px); */
    z-index: 3;

    overflow-x: scroll;

    transition: all 0.4s;
}
/* #hand:hover{
    transition: all 0.2s;
    height: calc(var(--card-height) + 8px );;
} */
.hand-shrink{
    height: calc(var(--card-height) - 24px) !important;
}


#wrapper{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 48px;
    /* padding: 0px 200px; */
    padding: 96px 0 calc(var(--card-height) + 72px) 0;

}
.page {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    /* min-height: 100vh; */
    /* min-width: 600px; */
}

/* CARDS */
.card{
    display: flex;
    flex-direction: column;
    padding: 12px;

    height: var(--card-height);
    width: var(--card-width);

    background-color: var(--card-bg);
    box-shadow: 0px 1px 0px var(--b20);

    /* outline: 2px solid white; */
    border-radius: 2px;

    overflow: hidden;
    cursor: grab;
    z-index: 2;

    position: relative;
}
.card:hover{
    box-shadow: 0px 1px 16px var(--b20);

	z-index: 3;

	transform: translateY(-1px);
	transition: all 100ms;
}
.card img {
    position: absolute;
}
.card-data{
    /* background-color: white; */
    display: flex;
    justify-content: center;
    padding: 4px;
    color: rgb(0, 0, 0);

    /* outline: 2px solid black; */
}
.card-data img{
    position: absolute;
    top: 4px;
}
/* .card-frame{
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    top: 12px;
    outline: 2px solid black;
} */

[draggable]:active {
    cursor: grabbing;
}
.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: flex-start;
    background-color: var(--b05);

    height: var(--card-height);
    width: var(--card-width);

    position: relative;
}
.card-container > :nth-child(2) {
    position: absolute;
    left: 12px;
    top: 12px;
}
.card-container-grid{
    display: flex;
    gap: 4px;
    width: calc((var(--card-width) + 4px) * 2);
    flex-wrap: wrap;
}


.contract-container{
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 56px;

    /* width: 560px; */

    background-color: rgb(214, 214, 206);
    box-shadow: 0px 0px 36px var(--b20);

}


#market-container{
    display: flex;
    gap: 12px;
    background-color: rgb(180, 184, 172);
    padding: 56px;
}
.market-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    height: 360px;
}

/* TABLE */
.table-container{
    /* height: 400px; */
    /* width: 800px; */

    display: flex;
    gap: 48px;

    background-color: darkgrey;
    padding: 56px;
}
#table{
    width: calc(var(--card-width) + 24px);
    height: calc(var(--card-height) + 24px);
    padding: 12px;
    margin-bottom: 12px;

    outline: 2px dashed rgba(0, 0, 0, 0.211);
}
#inspector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 440px;
    /* height: var(--card-height); */
}


/* Collection */
.collection-container{
    display: flex;
    padding: 12px;
    background-color: rgb(59, 59, 59);
}
.collection-container .tab-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 12px;
}
.collection-container .tab-group button{
    border: none;
    border-radius: 0;
    background-color: rgb(246, 237, 185);
}
.collection{
    background-color: rgb(141, 141, 141);
    box-shadow: 0px 1px 16px var(--b20);
}