:root{
    --w0: rgba(0,0,0,0.0);
    --w5: rgba(255,255,255,0.05);
    --w20: rgba(255,255,255,0.2);
    --w70: rgba(255,255,255,0.7);

    --b05: rgba(0,0,0,0.05);
    --b10: rgba(0,0,0,0.10);
    --b20: rgba(0,0,0,0.2);
    --b50: rgba(0,0,0,0.5);
    --b80: rgba(0,0,0,0.8);

    --bg: rgb(100, 100, 100);

    --card-width: 160px;
    --card-height: 240px;
    --card-offset: 4px;
    --section-width: 800px;

    --nav-color: rgb(74, 74, 74);
    --nav-max-width: 1280px;

    --font-color: rgba(0,0,0,0.88);
    --font-color-light: rgba(236, 237, 212, 0.88);
}

/* For anchor links nav */
*, html{
    /* Disables gestures */
    touch-action: none; 

    /*Removes browser stretching on scroll*/
    overscroll-behavior: none;
}

*{
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;

    /* Prevents flexbox resizing */
    flex-grow: 0;
    flex-shrink: 0; 
}
body{
    background-color: black;

    font-family: sans-serif;
    line-height: 150%;
    font-size: 16px;
    color: var(--font-color);

    display: flex;
    justify-content: center;

    overflow-x: hidden;
}
.hide {
    display: none !important;
}
h1{
    font-size: 32px;
    font-weight: 400;
    font-family: 'Grenze', sans-serif;
}
h2{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.1px;
    font-family: 'Grenze', sans-serif;
}

/* DECORATION */
    .bg-cover{
        position: absolute;
        top: 0;

        width: 100%;
        height: 848px;

        background-image: url("./img/bg/env.svg");
        background-position: center;
        background-repeat: no-repeat;
    }
    #title-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        color: white;
        gap: 16px;
        margin: 126px 0;
    }
    #title-container img {
        height: 88px;
    }

/* BUTTON */
    button{
        height: 56px;

        min-width: 60px;
        padding: 3px 16px 0px 16px;
        border-radius: 8px;
        
        border: 2px solid var(--b20);
        background-color: var(--w0);

        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

        line-height: 100%;
        z-index: 2;
    }
    button img {
        padding-bottom: 3px;
    }
    button:hover{
        background-color: var(--b10);
    }
    button.light{
        color: var(--font-color-light) !important;
        border: 2px solid var(--w20);
    }
    button:disabled{
        pointer-events: none;
        opacity: 40%;
    }


/* NAVIGATION */
    #nav {
        position: fixed;
        bottom: -2px;

        width: calc(100% - 24px);
        max-width: var(--nav-max-width);

        display: flex;
        gap: 8px;

        /* filter: drop-shadow(0px 0px 12px rgba(0,0,0,0.8)); */
        z-index: 15;
    }
    .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        
        flex-grow: 1;

        border-radius: 10px 10px 0 0;

        background-color: rgb(80, 80, 80);
        padding: 4px 4px 4px 10px;
        border: 2px solid black;
    }
    #nav #logo {
        height: 44px;
    }
    #nav .btn-group{
        display: flex;
        gap: 4px;
    }
    .stat {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 12px 18px 12px 12px;
        
        min-width: 120px;

        font-size: 28px;
        font-family: 'Grenze', sans-serif;

        color: var(--font-color-light);
    }
    #hand {
        height: 68px;
        /* flex-grow: 1; */
        flex-shrink: 1;
        width: calc(var(--card-width) * 3 + (4px * 4));
        /* height: calc(var(--card-height) + 8px - 100px); */
        /* width: calc(100% - 24px); */
        /* max-width: var(--nav-max-width); */

        display: flex;
        gap: 4px;

        padding: 4px;

        background-color: rgba(136, 136, 136, 0.8);
        border-radius: 10px 10px 0 0;
        z-index: 13;

        overflow-x: scroll;
        overflow-y: hidden;

        /* transition: all 0.4s; */
    }
    /* #hand:hover{
        transition: all 0.2s;
        height: calc(var(--card-height) + 8px );;
    } */
    .hand-shrink{
        height: calc(var(--card-height) - 24px) !important;
    }
    #menu-container{
        position: relative;
    }
    #menu{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;

        background-color: #383232;
        border: 2px solid black;
        border-radius: 8px;
        padding: 8px;
        width: 180px;

        display: flex;
        flex-direction: column;
        gap: 4px;
    }


/* PAGES */
    #wrapper{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        gap: 48px;
        padding: 48px 0 200px 0;
    }
    .page {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        /* min-height: 100vh; */
        /* min-width: 600px; */
    }


/* CARDS */
    .card{
        display: flex;
        flex-direction: column;
        padding: 12px;

        height: var(--card-height);
        width: var(--card-width);

        box-shadow: 0px 1px 0px var(--b20);
        background-size: var(--card-width) var(--card-height);

        /* outline: 2px solid white; */
        border-radius: 2px;

        overflow: hidden;
        cursor: grab;
        z-index: 2;

        position: relative;
    }
    .card:hover{
        box-shadow: 0px 1px 16px var(--b20);

        z-index: 3;

        transform: translateY(-1px);
        transition: all 100ms;
    }
    .card img {
        position: absolute;
    }
    .card-data{
        /* background-color: white; */
        display: flex;
        justify-content: center;
        padding: 2px;
        color: rgb(0, 0, 0);

        /* outline: 2px solid black; */
    }
    .card-data img{
        position: absolute;
        top: 4px;
    }
    /* .card-frame{
        position: absolute;
        bottom: 12px;
        left: 12px;
        right: 12px;
        top: 12px;
        outline: 2px solid black;
    } */

    [draggable]:active {
        cursor: grabbing;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        align-items: center;
        background-color: var(--w5);

        height: calc(var(--card-height) + 16px);
        width: calc(var(--card-width) + 16px);

        position: relative;
    }
    .card-container .card {
        margin-top: calc(var(--card-height) * -1 + var(--card-offset));
        filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));

    }
    .card-container > :nth-child(1) {
        margin-top: 0;
        filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.0));
    }
    .card-container-grid{
        display: flex;
        gap: 4px;
        /* width: calc((var(--card-width) + 4px) * 2); */
        flex-wrap: wrap;
    }

    #collection-research{
        display: flex;  
        justify-content: center;
    }
    /* COLLECTION */
        .collection-container{
            display: flex;
            flex-direction: column;
            padding: 8px;
            background-color: #5F544E;
            border: 2px solid black;

            position: relative;
        }
        .collection-container .tab-group{
            display: flex;
            gap: 4px;
            justify-content: flex-start;    
        }
        .collection-container .tab-group .active {
            background-color: #1D1D1D;
            color: wheat;
        }
        .collection-container .row {
            gap: 0px;
        }
        .collection-container .tab-group button{
            background-color: #4B443F;

            height: 48px;

            font-family: 'Grenze', sans-serif;
            font-size: 24px;
        }
        .secondary-btn{
            border: none !important;
            background-color: var(--w0) !important;
        }
        .collection{
            background-color: #1D1D1D;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-rows: max-content;
            column-gap: 4px;
            row-gap: 4px;

            padding: 12px;
        }
        .tab{
            border: 2px solid black;
            border-bottom: none;
            border-radius: 0 !important;
        }
        /* Subtab */
        .subtab-group{
            display: flex;
            position: absolute;
            top: -38px;
        }
        .subtab-group button{
            background-color: #1F1F1F;
            height: 38px;
        }
        /* Crafting modal */
        #crafting-modal{
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            background-color: #4B443F;

            z-index: 3;

            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 52px;
        }
    /* RESEARCH CONTRACT */
        .contract-container{
            display: flex;
            flex-direction: column;
            gap: 12px;

            padding: 32px 24px;

            width: 400px;
            height: 100%;

            background-color: #beb9ae;
            box-shadow: 0px 0px 36px var(--b20);
            border: 2px solid black;

            position: relative;
        }
        #contract-description{
            min-height: 120px;
            height: auto;
        }
        .row{
            display: flex;
            gap: 8px;
        }
        .contract-card-container{
            display: flex;
            gap: 8px;
            height:min-content;
            width: 100%;
        }
        .contract-card-container .card-container{
            border: 2px dashed var(--b20);
        }
        #contract-controls{
            display: flex;
            flex-direction: column;
            outline: 2px solid black;
            flex-grow: 1;
        }
        #contract-controls button {
            height: 100%;
            border-radius: 0px;
            border: none;
            flex-shrink: 1 ;
            border-bottom: 2px solid black;
        }


/* MARKET */
    #market-container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        width: 1000px;

        gap: 24px;
        background-color: #383232;
        border: 2px solid black;

        padding: 24px;
        color: var(--font-color-light);

        position: relative;
    }
    .market-item{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        gap: 0px;

        min-height: 360px;
    }
    .market-item img{
        max-width: 282px;
    }
    #market-container .page-btn{
        position: absolute;
        right: 0;
    }


/* INSPECTION TABLE */
    .table-container{
        /* height: 400px; */
        /* width: 800px; */

        display: flex;
        flex-direction: column;
        gap: 48px;

        background-color: darkgrey;
        padding: 56px;

        border: 2px solid black;
    }
    #table{
        width: calc(var(--card-width) + 24px);
        height: calc(var(--card-height) + 24px);
        padding: 12px;
        margin-bottom: 12px;

        outline: 2px dashed rgba(0, 0, 0, 0.211);
    }
    #inspector{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        gap: 16px;
        width: 440px;
        /* height: var(--card-height); */
    }

/* UI */
/* ALERT/NOTIFICATION */
    #alert{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 8px;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        width: calc(100% - 16px);
        max-width: 400px;
        min-height: 62px;
        
        border-radius: 4px;
        z-index: 10;

        background-color: black;
        color: var(--w70);
        font-size: 14px;

        cursor: pointer;
        transition: all 300ms;

    }
    #alert p {
        margin: 12px 0 12px 12px; 
    }
    #alert img {
        margin: 8px;
        background-color: var(--w0);
    }
    #alert:hover{
        background-color: var(--b80);
    }