/*Modals*/
    #modal-wrapper{
        /*background-color: rgba(0,244,0,0.2);*/

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        max-width: 1800px;
        height: 100vh;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        z-index: 100;
        pointer-events: none;
        padding: 48px;
    }
    #modal-wrapper *{
        pointer-events: all;
    }
    .modal{
        z-index: 10;
        position: relative;
    }
    .modal-container{
        display: flex;
        flex-direction: column;

        background-color: #EAE2D0;
        min-width: 320px;

        height: 480px;
        overflow: hidden;
    }
    .card-container.on-light, #contract-content .card-container{
        width: 100%;
        height: 76px;

        outline: 6px solid var(--b20);
        border: 2px dashed var(--b);
        background-color: var(--b20);
    }
    .modal-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 64px;

        position: relative;

        padding: 0 0 0 24px;
        /*box-shadow: 0px 2px 0 var(--b10);*/
        background-color: var(--w20);
    }
    .modal-heading{
        margin-bottom: 2px;
    }
    .close-btn{
        width: 64px;
        height: 64px;

        border-radius: 0;
    }
    .modal-body{
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        gap: 24px;
        margin: 24px;
    }
    .modal .btn-container{
        display: flex;
        gap: 8px;
        flex-direction: column;

        padding: 24px 24px 24px 24px;
    }

    .modal-dark{
        background-color: #1D1D1D;
        color: var(--w70);
    }



/* Builder */
    #builders .modal-container{
            display: flex;
            flex-direction: column;

            height: 480px;
            max-width: 728px;

            background-color: black;
    }
    #builders .modal-nav {
        background-color: #000;
        color: var(--yellow-accent);

        width: 100%;
    }
    .modal .structures-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2px;

        flex-shrink: 1;
       
        height: 100%;

        overflow-y: auto;

        margin: 2px;
        padding: 0;
    }

    .btn-structure{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        height: 124px;
        width: 240px;

        position: relative;
        background-color: #333333;
        color: white;

        overflow: hidden;
        border-radius: 0px;
        border: none;

        padding: 0;
    }
    .btn-structure:hover{
        background: linear-gradient(to bottom, #676866, #646562);
    }
    .btn-structure .data-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;

        width: 100%;
        max-width: 200px;
        height: 100%;
        text-align: left;

        padding: 12px;
    }
    .btn-structure .data-container .description{
        font-size: 14px;
        line-height: 20px;
        opacity: 0.7;

        flex-grow: 1;
    }
    .btn-structure .data-container h3{
    
        font-family: 'Arial', sans-serif;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
    }
    
    .btn-structure .btn-text{
        font-size: 18px;
    }
    .btn-structure .sprite-container{
        position: absolute;
        left: 192px;
        bottom: -3px;

        img{
            padding-bottom: 0;
        }
    }

    .building-cost-container{
        display: flex;
        height: 24px;
    }
    .building-cost-container p{
        width: 25px;
        font-size: 14px;
       
    }
    .building-cost-container .sprite-container img{
        padding: 3px;   
    }
    


/* Research modal */
    #research{
        display: flex;  
        justify-content: center;
        gap: 24px;
    }
    .contract-container{
        display: flex;
        flex-direction: column;

        width: 400px;

        background-color: var(--modal-bg);
        box-shadow: 0px 0px 36px var(--b20);
        /*border: 2px solid black;*/

        position: relative;
    }
    .contract-card-container{
        height:min-content;
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    #contract-controls{
        display: flex;
        /*outline: 2px solid black;*/
        box-shadow: inset 0px 0px 0px 2px black;
    }
    #contract-controls button {
        height: 72px;
        width: 100%;
        border-radius: 0px;
        border: none;
        flex-shrink: 1;
        box-shadow: inset 0px -4px 0px 0 black;
    }
    #contract-controls .divider{
        height: 100%;
    }

    
/* Archeologist modal */
    #archeologist{
        background-color: #37343B;
        box-shadow: var(--perim-border);
        position: relative;

        .modal-nav{
            background-color: var(--w0);
            color: var(--yellow-accent);
        }
    }
    #archeologist .page-btn{
        position: absolute;
        right: 0;
        top: 50%;
    }
    #market-container{
        width: 672px;
        height: 360px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;

        padding: 24px;

        position: relative;

        color: var(--font-color-light);
    }
    .market-item{
        padding: 12px 12px 0 12px;
        position: relative;
    }
    .market-item .button {
        width: 100%;
        height: 100%;

        display: none;

        position: absolute;
        left: 0;
        bottom: 50%;
        transform: translateY(50%);
    }
    .market-item:hover{
        background-color: var(--b20);
    }
    .market-item:hover .button{
        display: flex;
        background-color: grey !important;
    }
    .market-item .btn-container{
        display: flex;
        gap: 8px;
        flex-direction: column;
    }
    .market-item img{
        max-width: 282px;
    }
  
    #dude{
        position: absolute;
        bottom: 0;
        left: 0;
    }


/* Inspection table */
    .table-container{
        /* height: 400px; */
        /* width: 800px; */

        display: flex;
        flex-direction: column;
        gap: 48px;

        background-color: #EAE2D0;
        padding: 56px;

        border: 2px solid black;
    }
    #table{
        width: calc(var(--card-width) + 24px);
        height: calc(var(--card-height) + 24px);
        padding: 12px;
        margin-bottom: 12px;

        outline: 2px dashed rgba(0, 0, 0, 0.211);
    }
    #inspector{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        gap: 16px;
        width: 440px;
        /* height: var(--card-height); */
    }