/* Cards relics */
.card{
    display: flex;

    height: var(--card-height);
    width: var(--card-width);

    /*box-shadow: 0px 1px 0px var(--b20);*/
    background-size: var(--card-width) var(--card-height);
    background-color: #E4E4E4;

    /*border: 2px solid rgba(0,0,0,0.5);*/
    border-radius: 4px;

    overflow: hidden;
    cursor: grab;
    z-index: 2;
    font-size: 14px;
    line-height: 18px;

    position: relative;
}
.card:hover{
    box-shadow: 0px 1px 16px var(--b20);

    z-index: 3;

    transform: translateY(-1px);
    transition: all 100ms;
}
.card img {
    /*position: absolute;*/
}
.card .card-icon {
    height: 52px;
    width: 52px;
}

.card .card-rarity-icon{
    height: 20px;
    width: 20px;
    position: absolute;
    top:0;
    right: 0;
}

.card-data{
    /* background-color: white; */
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 4px 4px 4px 4px;
    color: rgb(0, 0, 0);
    width: 100%;
}
.card-data p{
    padding: 2px 0 0 6px;
    line-height: 20px;
    flex-shrink: 1; /* Allow text to shrink */
}

/* .card-frame{
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    top: 12px;
    outline: 2px solid black;
} */

[draggable]:active {
    cursor: grabbing;
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    background-color: var(--w5);
    border: 2px solid var(--b20);

    height: calc(var(--card-height) + 8px);
    width: calc(var(--card-width) + 8px);

    position: relative;
}
.card-container .card {
    margin-top: calc(var(--card-height) * -1 + var(--card-offset));
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));

}
.card-container > :nth-child(1) {
    margin-top: 0;
    filter: drop-shadow(0px 0px 0px rgba(0,0,0,0.0));
}




/* Collection modal */
    .card-slot-grid{
        background-color: #1D1D1D;
        display: grid;
        gap: 2px;
        padding: 8px;
    }
    #collection-modal{
        width: min-content;
    }
    .collection-container{
        display: flex;
        flex-direction: column;
        padding: 8px;
        background-color: #5F544E;
        border: 2px solid black;

        position: relative;
    }
    #collection-tabs{
        display: flex;
        gap: 4px;
        justify-content: center;
    }
    .collection-container .tab-group{
        display: flex;
        gap: 4px;
        justify-content: flex-start;
    }
    .collection-container .tab-group .active {
        background-color: #1D1D1D;
        color: wheat;
    }
    .collection-container .row {
        gap: 0px;
    }
    .collection-container .tab-group button{
        background-color: #4B443F;

        height: 48px;

        font-family: 'Grenze', sans-serif;
        font-size: 24px;
    }

    .secondary-btn{
        border: none !important;
        background-color: var(--w0) !important;
    }
    
    .tab{
        border: 2px solid black;
        border-bottom: none;
        border-radius: 0 !important;
    }
    /* Subtab */
    .subtab-group{
        display: flex;
        position: absolute;
        top: -38px;
    }
    .subtab-group button{
        background-color: #1F1F1F;
        height: 38px;
    }